<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blogger.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @blogger.tel %>
</p>

<p>
  <strong>Account:</strong>
  <%= @blogger.account %>
</p>

<%= link_to 'Edit', edit_blogger_path(@blogger) %> |
<%= link_to 'Back', bloggers_path %>
