 <!-- Hero секция -->

<section class="hero1">
  <div class="row">
    <div class="large-6 large-push-2 columns">
      <div class="circle-bg quote-1">
        <p> Придумайте одежду <br>  </p>
      </div>
    </div>
    <div class="large-6 large-pull-2 columns">
      <div class="circle-bg quote-2">
        <p> Расскажите о том что вы придумали <br> </p>
      </div>
    </div>
  </div>
</section>

<div class="row text-center">
  <div class="small-12 columns">
    <h1>Обо всем остальном позаботимся мы </h1>
    <h2 class="subheader">  </h2>
  </div>
</div>

 



<hr>
 <!-- разделитель -->
<div class="row">
<h2 class="subheader text-center">Как с нами работать</h2>
</div>

<section class="benefits">
  <div class="row">
    <div class="small-12 large-4 columns benefit">
      <i class="fi-shopping-cart icon"></i>
      <h5> Создайте свой собственный дизайн </h5>
      <hr>
      <p> Мы поможем вам разместить его на одном из наших продуктов. </p>
    </div>
    <div class="small-12 large-4 columns benefit">
      <i class="fi-shopping-cart icon"></i>
      <h5> Закажите первый товар для себя и сделайте в нем фото для своих фоловеров. </h5>
      <hr>
      <p> Мы произведем и отправим вам ваше собственное изделие, чтобы вы могли сами убедится в его качестве перед тем как советовать его своим фоловерам. </p>
    </div>
    <div class="small-12 large-4 columns benefit">
      <i class="fi-pricetag-multiple icon"></i>
      <h5> Создайте в своем кабинет кампанию и загрузите туда фото </h5>
      <hr>
      <p> Это займет у вас не более 5 минут, после чего ваш товар появится у нас на сайте и станет доступным для заказа. </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-4 columns benefit">
      <i class="fi-trophy icon"></i>
      <h5> Все готово, следите за продажами </h5>
      <hr>
      <p> В личном кабинете у Вас будет возможность следить за заказами, что поможет вам понять когда выкладывать новое фото.  </p>
    </div>
    <div class="small-12 large-4 columns benefit">
      <i class="fi-credit-card icon"></i>
      <h5> Загрузите свои банковские реквизиты и выводите прибыль</h5>
      <hr>
      <p> Загрузите свои банковские реквизиты и мы запросите вывод прибыли тогда, когда посчитаете нужным. С условиями начисления прибыли можно ознакомиться <%= link_to 'здесь', support_pricing_path, class: "lead" %> </p>
    </div>
    <div class="small-12 large-4 columns benefit">
      <i class="fi-map icon"></i>
      <h5> Становитесь нашими партнерами </h5>
      <hr>
      <p> Для наших постоянных партнеров у нас индивидуальных подход, доступ к экспериментальным моделям, специальные условия сотрудничества. </p>
    </div>
  </div>
</section>
<br>

 <!-- разделитель -->
<div class="row">
<h2 class="subheader text-center">Наши продукты - на которых Вы можете нанести свой дизайн</h2>
</div>
 <!-- наши болванки -->
    
    <div class="row">
      <div class="medium-4 columns">
        <div class="profile-card">
          <%= image_tag 'mockup_hoody.png' %>
          
          <div class="profile-info">
            <h4 class="subheader">Футболки</h4>
            <p>100% хлопок пенье, цвета белый и черный, лекало супер круто смотриться</p>
            <p><strong>Идеально для летного сезона</strong> Область запечатки грудь, спина, рукава </p>
            <p><%= link_to 'Пример', store_path(@product.first.id) %> | <%= link_to 'Пример', store_path(@product.second.id) %> </p>

          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="profile-card">
          <%= image_tag 'mockup_hoody.png' %>
          <div class="profile-info">
          <h4 class="subheader">Футболки оверсайзд</h4>
            <p>100% хлопок пенье, цвета белый и черный, лекало супер круто смотриться</p>
            <p><strong>Идеально для летного сезона</strong> Область запечатки грудь, спина, рукава </p>
            <p><%= link_to 'Пример', store_path(@product.first.id) %> | <%= link_to 'Пример', store_path(@product.second.id) %> </p>

          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="profile-card">
          <%= image_tag 'mockup_hoody.png' %>
          <div class="profile-info">
            <h4 class="subheader">Худи</h4>
            <p>Футер утепленный, с начесом, цвета белый, черный, хаки и бордо</p>
            <p><strong>Очень круто для зимнего периода</strong> Область запечатки грудь, спина, рукава </p>
            <p><%= link_to 'Пример', store_path(@product.first.id) %> | <%= link_to 'Пример', store_path(@product.second.id) %> </p>
            
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <div class="profile-card">
          <%= image_tag 'mockup_hoody.png' %>
          
          <div class="profile-info">
            <h4 class="subheader">Свитшоты</h4>
            <p>100% хлопок пенье, цвета белый и черный, лекало супер круто смотриться</p>
            <p><strong>Очень круто для зимнего периода</strong> Область запечатки грудь, спина, рукава </p>
            <p><%= link_to 'Пример', store_path(@product.first.id) %> | <%= link_to 'Пример', store_path(@product.second.id) %> </p>

          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="profile-card">
          <%= image_tag 'mockup_hoody.png' %>
          <div class="profile-info">
          <h4 class="subheader">Кропшоты</h4>
            <p>100% хлопок пенье, цвета белый и черный, лекало супер круто смотриться</p>
            <p><strong>Какая-то девчачья штука</strong> Область запечатки грудь, спина, рукава </p>
            <p><%= link_to 'Пример', store_path(@product.first.id) %> | <%= link_to 'Пример', store_path(@product.second.id) %> </p>

          </div>
        </div>
      </div>

    </div>


