<% content_for :title, "Оформление заказа" %>
<% javascript_include_tag "https://widget.cloudpayments.ru/bundles/cloudpayments" %>


    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-mini">

      <div class="container clearfix">
        <h1>Оформление заказа</h1>
        <ol class="breadcrumb">
          <li><%= link_to root_path do%>Главная<% end %></li>
          <li><a href="#">Оформление заказа</a></li>
        </ol>
      </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">


          <div class="row clearfix">
            <div class="col-md-6">
              <h3>Адрес Доставки</h3>

              <p>В поле адрес указывайте в том числе город доставки. В случае самовывоза, в поле адрес укажите "Москва".</p>


                <%= form_for(@order, id: "billing-form", class: "nobottommargin", id: "new_order" ) do |f|  %>
                <% if @order.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

                    <ul>
                    <% @order.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>


                <div class="col_full">
                  <label for="billing-form-name">ФИО:</label>

                   <%= f.text_field :name, :placeholder=>'ФИО', :required => true, id: "billing-form-name", class: "sm-form-control" %>
                </div>



                <div class="clear"></div>



                <div class="col_full">
                  <label for="billing-form-address">Адрес:</label>

                  <%= f.text_area :address, :placeholder=>'Москва, ул. Строителей, д 5, кв 89',:required => true, id: "billing-form-address", class: "sm-form-control" %>
                </div>

                <div class="col_half">
                  <label for="billing-form-email">Email:</label>

                  <%= f.text_field :email, :placeholder=>'email@email.com',:required => true , :pattern =>  "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", id: "billing-form-email", class: "sm-form-control" %>
                </div>

                <div class="col_half col_last">
                  <label for="billing-form-phone">Телефон:</label>

                  <%= f.text_field :phone, :placeholder=>'+7 909 909 0909', :required => true, :pattern =>  "^([0|\+[0-9]{1,5})?([1-9][0-9]{9})$", id: "billing-form-phone", class: "sm-form-control" %>
                </div>

                <div class="col_full">
                  <label for="billing-form-address">Доставка:</label>
                  <%= f.select :delivery_price, options_from_collection_for_select(@delivery, :price, :name, :id),  id: "order_delivery_price", class: "sm-form-control" %>
                </div>
                <%= f.hidden_field :order_clientid, value: @order_clientid %>
                <%= f.hidden_field :order_amount, value: @cart.total_price %>


              <% end %>
            </div>

            <div class="col-md-6">
              <div class="table-responsive clearfix">
                <h3>Ваш Заказ</h3>

                <table class="table cart">
                  <thead>
                    <tr>
                      <th class="cart-product-thumbnail">&nbsp;</th>
                      <th class="cart-product-name">Товар</th>
                      <th class="cart-product-quantity">Количество</th>
                      <th class="cart-product-subtotal">Стоимость</th>
                    </tr>
                  </thead>
                  <tbody>

                  <% @cart.line_items.each do |line_item| %>
                    <tr class="cart_item">
                      <td class="cart-product-thumbnail">
                        <% if line_item.product.images.present? %><%= image_tag line_item.product.images.first.photo(:thumb), size: "64x64" %> <% end %>
                      </td>

                      <td class="cart-product-name">
                        <a href="#"><%= line_item.product.title %> <br> <%= line_item.size.name %></a>
                      </td>

                      <td class="cart-product-quantity">
                        <div class="quantity clearfix">
                          x <%= line_item.total_count %>
                        </div>
                      </td>

                      <td class="cart-product-subtotal">
                        <span class="amount"><%= line_item.total_price %> руб.</span>
                      </td>
                    </tr>
                  <% end %>

                  </tbody>

                </table>

              </div>
              <br>
              <br>
              <div class="table-responsive">
                <h4>Расчет стоимости</h4>

                <table class="table cart">
                  <tbody>
                    <tr class="cart_item">
                      <td class="notopborder cart-product-name">
                        <strong>Товар</strong>
                      </td>

                      <td class="notopborder cart-product-name">
                        <span class="amount"><%= @cart.total_price %> руб.</span>
                      </td>
                    </tr>
                    <tr class="cart_item">
                      <td class="cart-product-name">
                        <strong>Доставка</strong>
                      </td>

                      <td class="cart-product-name">
                        <span class="amount" id="deliv">Free Delivery</span><span class="amount"> руб.</span>
                      </td>
                    </tr>
                    <tr class="cart_item">
                      <td class="cart-product-name">
                        <strong>Всего</strong>
                      </td>

                      <td class="cart-product-name">
                        <span class="amount color lead" ><strong id="total"><%= @cart.total_price %></strong></span><span class="amount color lead" ><strong > руб.</strong></span>
                      </td>
                    </tr>
                  </tbody>
                </table>


              <div id="updated">

              </div>

              </div>

              <a class="button button-3d fright" id="sb">Оплатить</a>

            </div>


            <div class="clear bottommargin"></div>
            <div class="col-md-6">

            </div>
            <div class="col-md-6">



            </div>
          </div>
        </div>

      </div>


    </section><!-- #content end -->










<%= javascript_tag do %>


  $('select').change(refresh);

  
      function priceChanger() {
       var a = document.getElementById('order_delivery_price').value;
       a = Number(a);
       return a;
      }

      function total() {
        return priceChanger() + <%= @cart.total_price %>;
      }

      function refresh() {
        document.getElementById('total').innerHTML = total();
        document.getElementById('deliv').innerHTML = priceChanger();
      }
      $( document ).ready(function() {
        document.getElementById('total').innerHTML = total();
        document.getElementById('deliv').innerHTML = priceChanger();
      });
  

 
  var payHandler = function () {

    
        var widget = new cp.CloudPayments();
        widget.auth({ // options
                publicId: 'pk_2cdd5b0bd7978802123946d757d4f',
                description: 'Оплата в teelab.ru',
                amount: total(), //сумма
                currency: 'RUB',
                invoiceId: '<%= @order_clientid %>', //номер заказа

            },
            function (options) { 
            

            },
            function (reason, options) { 
            });
  };



    $("#sb").on("click", function() {
        if ($("#new_order").valid()) {
          $("#new_order").submit();

        }

    });

    

<% end %>
