

<div id="render">
</div>



<%= javascript_tag do %>

        function codeAddress() {
        dataLayer.push({event: ‘custom_event', event_id: ‘payment_popup’});
        payHandler();
        }
        window.onload = codeAddress;


 
  var payHandler = function () {

    
        var widget = new cp.CloudPayments();
        widget.auth({ // options
                publicId: 'pk_2cdd5b0bd7978802123946d757d4f',
                description: 'Оплата в teelab.ru',
                amount: <%= @order.order_amount %>, //сумма
                currency: 'RUB',
                invoiceId: '<%= @order.order_clientid %>', //номер заказа

            },
            function (options) { 
             $("#render").html("<%= escape_javascript render('form_pay')%>");
  			     $("#edit_order_<%= @order.id %>").submit();
            dataLayer.push({event: ‘custom_event', event_id: ‘successful_payment’});
            },
            function (reason, options) { 
            history.go(-1);
            });
  };

<% end %>
