<% content_for :title, "Войти" %>


    <section id="content">

      <div class="content-wrap nopadding">

        <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('images/parallax/home/1.jpg') center center no-repeat; background-size: cover;"></div>

        <div class="section nobg full-screen nopadding nomargin">
          <div class="container vertical-middle divcenter clearfix">

            <div class="row center">

            </div>

            <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
              <div class="panel-body" style="padding: 40px;">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: "login-form", class: "nobottommargin") do |f| %>
                  <div class="col_full"><%= f.email_field :email, autofocus: true, placeholder: "Email", id: "login-form-username", class: "form-control not-dark" %></div>

                  <div class="col_full"><%= f.password_field :password, autocomplete: "off", placeholder: "Пароль", id: "login-form-password", class: "form-control not-dark" %></div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="switch round small mb1">
                      <div class="col_full nobottommargin"><%= f.check_box :remember_me %> <%= f.label :remember_me, 'запомнить меня' %></div>
                      
                    </div>
                  <% end -%>

                  <div class="col_full nobottommargin"><%= f.submit "Вход", id: "login-form-submit", class: "button button-3d button-black nomargin" %></div>
                <% end %>
                <div class="col_full nobottommargin">
                <%= render "devise/shared/links" %>
                </div>
            </div>

          </div>
        </div>

      </div>

    </section><!-- #content end -->

