<div class="row">
  <div class="form-container medium-centered small-10 small-centered medium-6 large-6 columns">
    <div class="content-wrap"> 
      <div class="container clearfix">
        <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
          <div class="acctitle"><i class="acc-open icon-t-shirt"></i>Изменить данные кампании</div>


            <%= form_for [@user, @product], url: user_product_path(@product.user_id, @product), html: { multipart: true } do |f| %>
              <% if @product.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

                  <ul>
                    <% @product.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="col_full">
                <%= f.label :Назване %><br>
                <%= f.text_field :title, class: "form-control" %>
              </div>
              <div class="col_full">
                <%= f.label :Описание %><br>
                <%= f.text_area :description, class: "form-control" %>
              </div>
              <div class="col_full">
                <%= f.label :Url %><br>
                <%= f.text_field :url_name, class: "form-control" %>
              </div>
              <div class="col_full">
                <%= f.label :Цена %><br>
                <%= f.text_field :price, class: "form-control" %>
              </div>
                <%= f.label 'Ваш username в инстаграм (для того чтобы было видно что Вы создали дизайн)' %>
                <%= f.text_field :instagram_name, class: "form-control" %>
              <br>
              <div class="col_full">

                <%= file_field_tag "photos[]", type: :file, multiple: true %>
              </div>
              

              <div class="actions">

                <%= f.submit :Изменить %>
              </div>
            <% end %>


            <% @product.images.each do |image| %>
            	<div class="" data-closable>
            		<%= image_tag image.photo(:thumb) %>
            		<button class="close-button" aria-label="Close alert" type="button">
            			
            			<span aria-hidden="true"><%= link_to '&times;'.html_safe, image_path(image.id), :method => :delete %></span>
            	    </button>
            	</div>
            <% end %>


            <br>
            <br>
        </div>   
      </div>        
    </div>
  </div>
</div>