

    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><%= link_to 'Главная', store_index_path %></li>
          
          <li>
            <span class="show-for-sr">Current: </span> <%= @product.title %>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <div class="owl-carousel" id="owl">
            <% @product.images.each do |image| %>
            <div><%= image_tag image.photo(:medium) %></div>
            <% end %>
          </div> 
        </div>

    
      <div class="medium-6 large-5 columns">
        <h3><%= @product.title %></h3>
        <p><%= @product.style.name %></p> <br>
        <% if @product.description.present? %>
          <p><%= @product.description %></p> <br>
        <% end %>
        <% if @product.style.description.present? %>
          <p><%= @product.style.description %></p> <br>
        <% end %>
<!-- Tabs -->
  <%= form_tag({controller: "line_items", action: "create"}, method: "post", remote: true, class: "form") do %>
      <%= hidden_field_tag :product_id,  @product.id %>
      <p class="product__size-description">Выберите размер:</p>
      <%= select_tag "size_id", options_from_collection_for_select(@size, "id", "name"), class: " small " %>
      <% if @product.colors.present? %>
            <%= select_tag "colorid", options_from_collection_for_select(@product.colors, "id", "name"), class: "small" %>
      <% end %>
 
        <hr>
        <div class="row">
          <div class="small-3 columns">
            <p for="middle-label" class="middle">Цена</p>
          </div>
          <div class="small-9 columns">
            <p for="middle-label" class="middle"><%= @product.price %> руб.</p>
          </div>
        </div>
        <hr>


      <%= submit_tag "Добавить в корзину", remote: true, :onclick => "alert('Товар успешно добавлен в корзину')", class: "button expand add-to-cart product__button" %>
  <% end %>
      <%= button_to "Перейти к оплате", new_order_path, method: :get, class: "button expand add-to-cart product__button" %>


        </div>
    </div>

    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel4" aria-selected="true">Доставка</a></li>
        <li class="tabs-title"><a href="#panel5">Таблица размеров</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel4">
          <h4>Виды доставки:</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <%= image_tag 'map.jpg', size: "150x100", class: "" %>
            </div>
            <div class="media-object-section">
              <h5>Самовывоз</h5>
              <p>Самостоятельно забрать покупку можно у нас в офисе по адресу: ул. Рочдельская 15, к. 17-18, в будние дни с 10 утра и до 7 вечера, предварительно согласовав по телефону приезд.</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              
            </div>
            <div class="media-object-section">
              <h5>Курьерская доставка</h5>
              <p>Курьерескую доставку осуществляет наш партнер компания DPD. Доставка осуществляется в короткие сроки во все города таможенного союза. В том числе: Беларусь, Казахстан, Армения.</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
             
            </div>
            <div class="media-object-section">
              <h5>Доставка Почтой России</h5>
              <p>В среднем, Почта России осуществляет доставку в срок от 7 до 14 дней в ближайшее к Вам отделение.</p>
            </div>
          </div>

        </div>
        <div class="tabs-panel" id="panel5">

            

                             <table class="table responsive">
                              <thead>
                              <% @sizetable.each_with_index do |sizetable, index| %>
                              <% if index < 1 %>
                              <tr> 
                                <th> <%= sizetable.size_name %> </th>
                                <th> <%= sizetable.w_sh %> </th>
                                <th> <%= sizetable.w_ch %></th>
                                <th> <%= sizetable.height %> </th>
                              </tr>
                              <% end %>
                              <% end %>
                              </thead>
                              <tbody>
                              <% @sizetable.each_with_index do |sizetable, index| %>
                              <% if index > 0 %>
                              <tr> 
                                <td> <%= sizetable.size_name %> </td>
                                <td> <%= sizetable.w_sh %> </td>
                                <td> <%= sizetable.w_ch %></td>
                                <td> <%= sizetable.height %> </td>
                              </tr>
                              <% end %>
                              <% end %>
                              </tbody>
                           </table>

        </div>
      </div>
    </div>
<br>


    




