<% content_for :title, 'Product' %>  


    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-mini">

      <div class="container clearfix">
        <h1><%= @product.title %></h1>
        <ol class="breadcrumb">
          <li><%= link_to root_path do%>Главная<% end %></li>
          <li><a href="#"><%= @product.title %></a></li>
        </ol>
      </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="single-product">

            <div class="product">

              <div class="col_two_fifth">

                <!-- Product Single - Gallery
                ============================================= -->
                <div class="product-image">
                  <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                    <div class="flexslider">
                      <div class="slider-wrap" data-lightbox="gallery">

                        <% @product.images.each do |image| %>
                          <div class="slide" data-thumb="<%= image.photo(:thumb) %>"><%= image_tag image.photo(:medium), alt: @product.title %></div>

                        <% end %>
                      </div>
                    </div>
                  </div>
 
                </div><!-- Product Single - Gallery End -->

              </div>

              <div class="col_two_fifth product-desc">

                <!-- Product Single - Price
                ============================================= -->
                <div class="product-price"><%= @product.price.round %> руб.</div><!-- Product Single - Price End -->

                <!-- Product Single - Rating
                ============================================= -->


                <div class="clear"></div>
                <div class="line"></div>

                <!-- Product Single - Quantity & Cart Button
                ============================================= -->
                <%= form_tag({controller: "line_items", action: "create"}, method: "post", enctype: "multipart/form-data", remote: true, class: "fcart nobottommargin clearfix") do %>
                    <%= hidden_field_tag :product_id,  @product.id %>
                    <div class="col-full">
                      <%= select_tag "size_id", options_from_collection_for_select(@size, "id", "name"), class: "sm-form-control" %>
                      <% if @product.colors.present? %>
                            <br>
                            <%= select_tag "colorid", options_from_collection_for_select(@product.colors, "id", "name"), class: "sm-form-control" %>
                      <% end %>
                    </div>  
                    <div class="line"></div>
                    <%= submit_tag "Добавить в корзину", remote: true, :onclick => "alert('Товар успешно добавлен в корзину')", class: "add-to-cart button nomargin" %>
                <% end %>


                <div class="clear"></div>
                <div class="line"></div>

                <p><%= @product.title %></p> <br>

                <% if @product.style.description.present? %>
                  <p><%= @product.style.description %></p> <br>
                <% end %>





              </div>

              <div class="col_one_fifth col_last">
                <!-- Product Single - Short Description
                ============================================= -->

                <% if @product.instagram_name.present? %>
                <p>Designed by <%= @product.instagram_name %>  &nbsp  <%= link_to "https://www.instagram.com/#{@product.instagram_name}" do %> <%= image_tag @product.avatar_url, size: "40x40", style: "border-radius:50%;" %> <% end %></p>
                <% end %>
                <!-- Product Single - Short Description End -->
                

                <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                <div class="feature-box fbox-plain fbox-dark fbox-small">
                  <div class="fbox-icon">
                    <i class="icon-thumbs-up2"></i>
                  </div>
                  <h3>100% Качество</h3>
                  <p class="notopmargin">Каждый наш товар мы проверяем вручную.</p>
                </div>

                <div class="feature-box fbox-plain fbox-dark fbox-small">
                  <div class="fbox-icon">
                    <i class="icon-credit-cards"></i>
                  </div>
                  <h3>Способы оплаты</h3>
                  <p class="notopmargin">Мы принимаем карты Visa и MasterCard.</p>
                </div>

                <div class="feature-box fbox-plain fbox-dark fbox-small">
                  <div class="fbox-icon">
                    <i class="icon-truck2"></i>
                  </div>
                  <h3>Доставка</h3>
                  <p class="notopmargin">Отправляем два раза в неделю удобным для Вас способом.</p>
                </div>



              </div>

              <div class="col_full nobottommargin">



                  <ul id="myTab" class="nav nav-tabs boot-tabs">
                    <li><a href="#tabs-1" data-toggle="tab"><i class="icon-align-justify2"></i><span class="hidden-xs"> Таблица размеров</span></a></li>
                    <li><a href="#tabs-2" data-toggle="tab"><i class="icon-info-sign"></i><span class="hidden-xs"> Доставка</span></a></li>

                  </ul>

                  <div id="myTabContent" class="tab-content">

                    <div class="tab-pane fade in active" id="tabs-1">
                             <table class="table table-striped">
                              <thead>
                              <% @sizetable.each_with_index do |sizetable, index| %>
                              <% if index < 1 %>
                              <tr> 
                                <th> <%= sizetable.size_name %> </th>
                                <th> <%= sizetable.w_sh %> </th>
                                <th> <%= sizetable.w_ch %></th>
                                <th> <%= sizetable.height %> </th>
                              </tr>
                              <% end %>
                              <% end %>
                              </thead>
                              <tbody>
                              <% @sizetable.each_with_index do |sizetable, index| %>
                              <% if index > 0 %>
                              <tr> 
                                <td> <%= sizetable.size_name %> </td>
                                <td> <%= sizetable.w_sh %> </td>
                                <td> <%= sizetable.w_ch %></td>
                                <td> <%= sizetable.height %> </td>
                              </tr>
                              <% end %>
                              <% end %>
                              </tbody>
                           </table>

                    </div>
                    

                    
                    <div class="tab-pane fade" id="tabs-2">

                    <p> <strong> Самовывоз </strong><br> Самостоятельно забрать покупку можно у нас в офисе по адресу: ул. Рочдельская 15, к. 17-18, в будние дни с 10 утра и до 7 вечера, предварительно согласовав по телефону приезд.</p>
                    <p> <strong> Курьерская доставка </strong><br> Курьерескую доставку осуществляет наш партнер компания DPD. Доставка осуществляется в короткие сроки во все города таможенного союза. В том числе: Беларусь, Казахстан, Армения.</p>
                    <p> <strong> Доставка Почтой России </strong><br> В среднем, Почта России осуществляет доставку в срок от 7 до 14 дней в ближайшее к Вам отделение.</p>

                    </div>


                  </div>

                </div>





            </div>

          </div>


        </div>

      </div>

    </section><!-- #content end -->






