
                <tr class="cart_item">
                  <td class="cart-product-remove">
                    <%= link_to line_item_path(line_item.id), :method => :delete, class: "remove" do %><i class="icon-trash2"></i><% end %>
                  </td>

                  <td class="cart-product-thumbnail">
                    <a href="#"><% if line_item.product.images.present? %><%= image_tag line_item.product.images.first.photo(:thumb), size: "64x64" %> <% end %></a>
                  </td>

                  <td class="cart-product-name">
                    <a href="#"><%= line_item.product.title %> <br> <%= line_item.size.name %></a>
                  </td>

                  <td class="cart-product-price">
                    <span class="amount"><%= line_item.product.price %> руб.</span>
                  </td>

                  <td class="cart-product-quantity">
                    <div class="quantity clearfix">
                      <input type="button" value="-" class="minus">
                      <input type="text" name="quantity" value="2" class="qty" />
                      <input type="button" value="+" class="plus">
                    </div>
                  </td>

                  <td class="cart-product-subtotal">
                    <span class="amount"><%= line_item.total_price %></span>
                  </td>
                </tr>
                




 

