
<% content_for :title, "Купить футболки, свитшоты, толстовки, худи" %>   

    <!-- Page Title
    ============================================= -->
    <section id="page-title">

      <div class="container clearfix">
        <h1>Блоггер</h1>
        <span>Собственный стиль - больше известности</span>
        <ol class="breadcrumb">
          <li>Более 50 инфлуенсеров уже с нами</li>
        </ol>
      </div>

    </section><!-- #page-title end -->





    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap" style="padding-top:0px;">

        <div class="promo promo-dark promo-full promo-uppercase bottommargin">
          <div class="container clearfix">
            <h3> <span>+7 925 704 01 81</span> или <span>collaboration@teelab.ru</span></h3>
            <span>Создадим вместе с вами дизайн и магазин</span>
            <a href="#" class="button button-xlarge button-rounded">Оставить свой email</a>
          </div>
        </div>


        <div class="container clearfix">



          <!-- Shop
          ============================================= -->
          <div id="shop" class="shop product-3 clearfix">

        <% @blogger.each do |product| %> 
            <div class="product clearfix">

                <div class="product-image">
                  <%= link_to store_path(product.id) do %>
                    <% if product.images.present? %>
                      <%= image_tag product.images.first.photo(:medium), alt: "Checked Short Dress" %>
                    <% end %>
                  <% end %>
                  <%= link_to store_path(product.id) do %>
                    <% if product.images.present? %>
                      <%= image_tag product.images.second.photo(:medium), alt: "Checked Short Dress" %>
                    <% end %>
                  <% end %>


                  <div class="product-overlay">
                    <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Добавить в корзину</span></a>
                    <%= link_to store_path(product.id), class: "item-quick-view" do %><i class="icon-zoom-in2"></i><span> Посмотреть</span><% end %>
                  </div>
                </div>
              <div class="product-desc center">
                <div class="product-title"><h3><a href="#"><%= product.title %></a></h3><h3><a href="#"><%= product.style.name %></a></h3></div>
                <div class="product-price"><ins><%= product.price %> руб.</ins></div>
                <div class="product-rating">
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star3"></i>
                  <i class="icon-star-half-full"></i>
                </div>
              </div>
            </div>
        <% end %> 




          </div><!-- #shop end -->

        </div>

      </div>

    </section><!-- #content end -->





