<br>
  <div class="row">
    <div class="medium-4 columns">
      <%= image_tag 'landing_1.png' %>
    </div>
    <div class="medium-8 columns">
    
    </div>
  </div>




    <div class="row column text-center">
      <h2 >Текущие кампании</h2>
      <hr>
    </div>


    <div class="row small-up-2 large-up-4">
      <% @products.each do |product| %> 
      <% if product.category == 'blogger' %>
        <div class="column">
            <%= link_to store_path(product.id), class: "poster" do %>
            <% if product.images.present? %>
            <%= image_tag product.images.first.photo, class: "thumbnail" %>
            <% end %>
            <% end %>
          <h5><%= product.title %></h5>
          <p><%= product.style.name %></p>
          <p style="margin-bottom:3px"><%= product.price %> руб.</p>


          <button class="button expand add-to-cart" type="button" data-toggle="<%= product.id -%>">Добавить в корзину</button>
            <div class="dropdown-pane" id="<%= product.id -%>" data-dropdown data-auto-focus="true">
              Выберите размер
              <%= form_tag({controller: "line_items", action: "create"}, method: "post", remote: true, class: "form") do %>
                 <%= hidden_field_tag :product_id,  product.id %>

                    <%= select_tag "size_id", options_from_collection_for_select(product.sizes, "id", "name"), remote: true, class: " small split no-pip" %>
                    <%= submit_tag "Выбрать", remote: true, :onclick => "alert('Товар успешно добавлен в корзину')",  class: "button expand add-to-cart" %>

              <% end %>
            </div>


        </div>
         <% end %>
      <% end %>
    </div>



    <div class="row column text-center">
      <h2>Новогодняя тематика</h2>
      <hr>
    </div>

    <div class="row small-up-2 medium-up-3 large-up-6">

      <% @products.each do |product| %> 
      <% if product.category == 'new_year' %>

        <div class="column">
          
              
                <%= link_to store_path(product.id), class: "poster" do %>    
                <%= image_tag product.images.first.photo, class: "thumbnail" %>
                <% end %>
              
            <h5><%= product.title %></h5>
            <p><%= product.style.name %></p>
            <p style="margin-bottom:3px"><%= product.price %> руб.</p>
          
            
            <button class="button expand add-to-cart" type="button" data-toggle="<%= product.id -%>" data-remote="true">Добавить в корзину</button>
            <div class="dropdown-pane" id="<%= product.id -%>" data-dropdown data-auto-focus="true">
              Выберите размер
              <%= form_tag({controller: "line_items", action: "create"}, method: "post", remote: true, class: "form") do %>
                 <%= hidden_field_tag :product_id,  product.id %>

                    <%= select_tag "size_id", options_from_collection_for_select(product.sizes, "id", "name"),  remote: true,:onclick => "alert('Товар успешно добавлен в корзину')", class: "button small split no-pip" %>
                    <%= submit_tag "Выбрать", remote: true, :onclick => "alert('Товар успешно добавлен в корзину')", class: "button expand add-to-cart" %>
              <% end %>
            </div>


        </div>
      <% end %>
      <% end %>
    </div>

    <hr>




    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>