
<% content_for :title, "Купить футболки, свитшоты, толстовки, худи" %>   



    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap" style="padding-top:0px;">

        <div class="promo promo-border promo-full bottommargin">
          <div class="container clearfix">
            <h3> 
              <span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="6000">
                        <span class="t-rotate t700 font-body opm-large-word">блог.|паблик.|канал youtube.|канал twitch.|сообщество.</span>
              </span>
            </h3>
            <span>Создайте свой мерч вместе с нами</span>
            <%= link_to support_aboutus_path, class: "button button-xlarge button-rounded" do %>Узнать больше<% end %>
          </div>
        </div>

        <div class="container clearfix">
          <!-- Shop
          ============================================= -->
          <div id="shop" class="shop grid-container clearfix" data-layout="fitRows">

        <% @blogger.each do |product| %> 
            <div class="product clearfix">

                <div class="product-image">
                  <%= link_to store_path(product.id) do %>
                    <% if product.images.present? %>
                      <%= image_tag product.images.first.photo(:medium), alt: "Checked Short Dress" %>
                    <% end %>
                  <% end %>



                  <div class="product-overlay">

                    <%= link_to store_path(product.id), class: "item-quick-view" do %><i class="icon-zoom-in2"></i><span> Посмотреть</span><% end %>
                  </div>
                </div>
              <div class="product-desc center">
                <div class="product-title"><h3><a href="#"><%= product.title %></a></h3><h3><a href="#"><%= product.style.name %></a></h3></div>
                <div class="product-price"><ins><%= product.price %> руб.</ins></div>

              </div>
            </div>
        <% end %> 

          </div><!-- #shop end -->

        </div>

      </div>

    </section><!-- #content end -->





