<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>

  </head>
  <body>
    


    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><%= link_to 'Главная', store_index_path %></li>
          
          <li>
            <span class="show-for-sr">Current: </span> <%= @product.title %>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <div class="owl-carousel" id="owl">
            <% @product.images.each do |image| %>
            <div><%= image_tag image.photo %></div>
            <% end %>
          </div> 
        </div>

    
      <div class="medium-6 large-5 columns">
        <h3><%= @product.title %></h3>
        <p><%= @product.description %></p>
<!-- Tabs -->
    <legend>Фасон</legend>
    <ul class="tabs" data-tabs id="example-tabs">
      <% i=1 %>
      <% @products.style.gender.each do |gender| %>
      <li class="tabs-title is-active"><%= link_to "#panel"&i do %><%= gender.name %><% end %></li>
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Женский фасон </a></li>
      <li class="tabs-title"><a href="#panel2">Мужской фасон</a></li>
      <li class="tabs-title"><a href="#panel3">Унисекс</a></li>
    </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
                      <div class="row">
                        <fieldset class="large-6 columns">
                          <legend>Размер</legend>
                          <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">XS</label>
                          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">S</label>
                          <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">M</label>
                        </fieldset>
                      </div>

        </div>
        <div class="tabs-panel" id="panel2">
                      <div class="row">
                        <fieldset class="large-6 columns">
                          <legend>Размер</legend>
                          <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">XS</label>
                          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">S</label>
                          <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">M</label>
                        </fieldset>
                      </div>

        </div>
          <div class="tabs-panel" id="panel3">
                      <div class="row">
                        <fieldset class="large-6 columns">
                          <legend>Размер</legend>
                          <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">XS</label>
                          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">S</label>
                          <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">M</label>
                        </fieldset>
                      </div>

        </div>
      </div>


         <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="middle">Цена</label>
          </div>
          <div class="small-9 columns">
            <label for="middle-label" class="middle"><%= @product.price %></label>
          </div>
        </div>

        <div class="row columns button-group">
          <%= button_to 'Add to Cart', line_items_path(product_id: product.id), :method => :post, class: "button expand add-to-cart" %>
          <%= button_to "Checkout", new_order_path, method: :get, class: "button expand add-to-cart" %>
        </div>

        <div class="small secondary expanded button-group">
            <a class="button">Facebook</a>
            <a class="button">Twitter</a>
            <a class="button">Yo</a>
          </div>
        </div>
    </div>

    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel4" aria-selected="true">Reviews</a></li>
        <li class="tabs-title"><a href="#panel5">Таблица размеров</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel4">
          <h4>Reviews</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="media-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
            </div>
          </div>
          <label>
            My Review
            <textarea placeholder="None"></textarea>
          </label>
          <button class="button">Submit Review</button>
        </div>
        <div class="tabs-panel" id="panel5">
                             <table class="table">
                              <thead>
                              <tr> 
                                <th> Женский фасон, см. </th>
                                <th> XS </th>
                                <th> S </th>
                                <th> M </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr> 
                                <td> Ширина в плечах </td>
                                <td> 38 </td>
                                <td> 40 </td>
                                <td> 42 </td>
                              </tr>
                              <tr> 
                                <td> Обхват груди </td>
                                <td> 92 </td>
                                <td> 94 </td>
                                <td> 96 </td>
                              </tr>
                              <tr> 
                                <td> Высота </td>
                                <td> 61 </td>
                                <td> 62 </td>
                                <td> 63 </td>
                              </tr>
                              <tr>
                                <td>  </td>
                                <td>  </td>
                                <td> </td>
                                <td> </td>
                              </tr>
                              </tbody>
                        
                          
                              <thead>
                              <tr> 
                                <th style="border-top: 0px;"> Мужской фасон, см. </th>
                                <th style="border-top: 0px;"> S </th>
                                <th style="border-top: 0px;"> M </th>
                                <th style="border-top: 0px;"> L </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr> 
                                <td> Ширина в плечах </td>
                                <td> 42 </td>
                                <td> 44 </td>
                                <td> 46 </td>
                              </tr>
                              <tr> 
                                <td> Обхват груди </td>
                                <td> 100 </td>
                                <td> 104 </td>
                                <td> 108 </td>
                              </tr>
                              <tr> 
                                <td> Высота </td>
                                <td> 71 </td>
                                <td> 73 </td>
                                <td> 75 </td>
                              </tr>
                              </tbody>
                           </table>
        </div>
      </div>
    </div>



    

  </body>
</html>

